// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';
// Take a look at patterns.scss to see which files are imported.
@import 'patterns';
@import 'multicolour';

header#global-header {background-color: #006F51;}

#global-header #logo {
  font-size:16px;line-height:1.8;padding-left:5px;
  @media (min-width:480px) {font-size:19px; line-height:30px}
  @media (min-width:640px) {font-size:24px; }
  @media (min-width:960px) {font-size:30px; }

}
#global-header .header-wrapper {background-color: transparent;}

#global-header .header-proposition {font-family: 'Fira Sans', sans-serif;}

/* Little tag in header. */
.alpha-tag {
  background-color:$alpha-colour;
  color:white;
  font-size:16px;
  text-transform:uppercase;
  line-height:1;
  padding:2px 8px 0;
  margin-left:0.25em;
}
#global-header-bar {background-color:#A9C47F;}
@media (min-width: 769px) {
  #global-header .header-wrapper .header-global .header-logo {width:100%; background-color: transparent;}
}
#footer {display:none}

/*
  Top of the page phase banner bits.
*/
.tag {
  color:white !important;
  font-weight:700;
  padding:0.25em;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
}
.tag.backlog   {background-color:$backlog-colour}
.tag.discovery {background-color:$discovery-colour;}
.tag.alpha     {background-color:$alpha-colour;}
.tag.beta      {background-color:$beta-colour;}
.tag.live      {background-color:$live-colour;}

.big_number {
  font-size:96px;
  font-weight:700;
  text-align:center;
}
/*
  Convienience classes for colouring text.
*/
.txt-backlog    {color:$backlog-colour}
.txt-discovery  {color:$discovery-colour}
.txt-alpha      {color:$alpha-colour}
.txt-beta       {color:$beta-colour}
.txt-public     {color:$beta-colour}
.txt-live       {color:$live-colour}
/*
  Lists of links
*/
.link-list {
  font-size:16px;
  margin-bottom:5px;
  background-color:$highlight-colour;
  border-left:3px solid transparent;
  li {
    // margin-bottom:1em;
    padding:10px;
  }
}

.service-area {
  border-bottom:1px solid $border-colour;
  margin-bottom:10px;
}

.column-fifth {
	font-family: 'Open Sans', sans-serif;
}

.link-list {
	font-family: 'Open Sans', sans-serif;
}

.small-flag {
  display:inline-block;
  color:white;
  font-weight:normal;
  text-transform:none;
  padding:2px 8px 0;
  strong {font-size:1em; font-weight:700}
}

.priority 	{background-color: #49176D;}
.rag-red 	{background-color: #EF3340;}
.rag-amber 	{background-color: #F1C400; color: black;}
.rag-green 	{background-color: #008800;}
.rag-no 	{background-color: #53565A;}

.onhold		{border:1px solid red; color: red;}

.desc-para 	{padding: 5px 5px 0 5px; margin-bottom:10px; background-color: #f7ffeb; border: 1px solid #A9C47F; text-align:left;}
.summ_links {text-decoration:none;}
.anchors:hover {text-decoration:none; color:black;}

.container 	{width: 100%; clear:both;}
.left30		{width:30%; margin-left: 2%; padding: 5px 0; float:left;}
.right70	{width:68%; padding: 5px 0; float:left;}
.equalsplit2{width:45%; margin-left:3%; padding: 5px 0; float:left;}
.left20		{width:20%; padding: 5px 0; float:left;}
.left25		{width:25%; padding: 5px 0; float:left;}
.right75	{width:75%; padding: 5px 0; float:right;}
.clear		{clear:both;}

.form_input {width:98%; border: 0.5px solid #006F51; border-radius: 5px; background-color:#f3f2f1; padding:3px; font-family: 'Open Sans', sans-serif; font-size: 16px;}
.form_input:hover {background-color: #ffffff;}

.form_input_grey {width:98%; border: none; background-color:transparent; padding:3px; font-family: 'Open Sans', sans-serif; font-size: 16px; color: #000;}


input, select, textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}



.phase-history {
  clear:both;
  margin-top:30px;
}

.phase-history-item {
  padding-left:10px;
  border-left:3px solid black;
  margin-bottom:0;
  padding-bottom:10px;
}

.tag-history {
  display:inline-block;
  margin-left:-10px;
  padding:4px 10px 2px;
}

.border-backlog   {border-color:$backlog-colour;}
.border-discovery {border-color:$discovery-colour;}
.border-alpha     {border-color:$alpha-colour;}
.border-beta      {border-color:$beta-colour;}
.border-public    {border-color:$beta-colour;}
.border-live      {border-color:$live-colour;}
.border-internal  {border-color:$black;}

.circle.backlog   {background-color:$backlog-colour;}
.circle.discovery {background-color:$discovery-colour;}
.circle.alpha     {background-color:$alpha-colour;}
.circle.beta      {background-color:$beta-colour;}
.circle.live      {background-color:$live-colour;}

.phase_modifier {
  font-size:16px;
  position:absolute;
  top:24px; left:0;
  width:100%;
  text-align:center;
  color:white;
}
.phase-circle {
  width:60%;
  position:relative;
}
.circle-label {
  position:absolute;
  top:50%; left:0;
  width:100%;
  margin-top:-15px;
  text-align:center;
  color:white;
  font-weight:700;
  font-size:24px;
}
.circle {
  background:red;
  color:white;
  width:100%;
  height:0;
  padding-top:100%;
  border-radius:50% 50%;
  display:inline-block;
  margin:0;
}
.column-fifth {
  box-sizing:border-box;
  padding:0 15px;
  @media (min-width: 640px) {
    float:left;
    width:20%;
    min-height: 1px;
  }
}

.videoWrapper {
	position: relative;
	padding-bottom: 51%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* OTHER PROJECTS STUFF */
.heading-xxlarge {
  @extend .bold-xxlarge;
  margin-top:30px;
}

.heading-large{
	font-family: 'Fira Sans', sans-serif;
}

.other-project {
  margin-top:-1px;
  border-top:1px solid $grey-3;
  padding-top:15px;
  border-bottom:1px solid $grey-3;
  padding-bottom:15px;
}
.project-name {
  margin-top:10px;
}
.project-team {
  @include core-16;
  border-left:5px solid $turquoise;
  padding-left:10px;
  margin-top:0px;
  padding-top:5px;
  li {margin-bottom:5px;}

  @media (min-width: 641px){
    margin-top:45px;
  }
}
.project-links {
  vertical-align: bottom;
  margin-bottom:10px;
}
.category-heading {
  margin:45px 0 30px;
}

#myList li{ display:none;
}
#loadMore {
    color:black;
    cursor:pointer;
}
#loadMore:hover {
    text-decoration:underscore;
}
#showLess {
    color:black;
    cursor:pointer;
}
#showLess:hover {
    text-decoration:underscore;
}
