{% extends "blank.html" %}

{% block head %}
  <script type="text/javascript" src="/public/display.bundle.js"></script>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  {# <script src="/public/javascripts/jquery-easing.js"></script> #}
{% endblock %}

{% block footer_support_links %}
  <div class="footer-detail">
  </div>
{% endblock %}
