{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge" style="margin-bottom:15px;">Create supplier account</h1><br />

	<div class="grid-row">
		<section class="column-full">
		
			<p style="margin-left:2%;">Supplier name will be used as a username. It needs to be a single word, consisting of letters and digits only.</p>
			
			<form action="/add-supplier" method="post">
			
			<div class="container">
			<div class="left30"><label for="user_supp">Supplier name:&nbsp; &nbsp;</label></div>
			<div class="right70"><input id="user_supp" type="text" name="user_supp" class="form_input" placeholder="Supplier name" required /></div>
			<div class="clear"></div>
			</div>
			
			<div class="container">
			<div class="left30"><label for="password_supp">Password:&nbsp; &nbsp;</label></div>
			<div class="right70"><input id="password_supp" type="password" name="password_supp" class="form_input" placeholder="Password" required /></div>
			<div class="clear"></div>
			</div>
			
			<br />
			
			<input type="submit" value="Create account" style="margin-left:2%;">

			</form>
			
			{% if msg %}
			<p style="margin-left:2%;">{{ msg | safe}}</p>
			{% endif %}
			
			<br /><hr /><br />
			
			{% if cnt > 0 %}
			<p style="margin-left:2%;"><span style="font-weight:800;">All suppliers:</span> {{ cnt }}</p>
			
			<p style="margin-left:2%;">List:</br />
			{% for supplier in supps %}
			{{ supplier | capitalize }} <br />
			{% endfor %}
			</p>
			
			{% endif %}

		</section>
	</div>
</main>

{% endblock %}
