{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">


	<h1 class="heading-xlarge" style="margin-bottom:15px;">Delete project</h1><br />

	<div class="grid-row">
		<section class="column-full">
			
			<form action="/delete_project_process" method="post">
			<input id="project_id"  name="project_id"  	value = "{{ data.project_id }}"  hidden />
			
			<p style="margin-left:2%;">Are you sure you want to delete {{ data.project_name }} ({{ data.project_id }})?<br /><br />	This action cannot be reversed.</p>
			
			<input type="submit" value="Delete project" style="margin-left:2%;">
			
			</form>
			
		</section>
	</div>
</main>

{% endblock %}
