{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge" style="margin-bottom:15px;">Remove ODD person</h1><br />

	<div class="grid-row">
		<section class="column-full">
		
			<p style="margin-left:2%;">Are you sure you want to remove {{ data.firstname }} {{ data.surname }} from the list of ODD people?</p>
		
			<form action="/delete-odd" method="post">

			<input id="recordid" type="text" name="recordid" value="{{data.id}}"  hidden />
			
			<input type="submit" value="Yes" style="margin-left:2%;">

			</form>
			<br />
			<p style="margin-left:2%;"><a href="/odd_people/view">No, go back to the list of all ODD people</a></p>

		</section>
	</div>
</main>

{% endblock %}
