{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
	<p style="margin-top:30px;"><a href="/odd_people/add">Add new person</a> | <a href="/odd_people/unmatched">See leads not matched to the team</a> | <a href="/filter-view">Filter projects</a></p>
	<p><span style="font-weight:800;">ODD people: </span>{{ count }}</p>

	
	{% for g6team, name in teams %}
	
	{% set teamPeople = data[g6team] %}
		<h2 class="heading-large service-area">{{ g6team }}</a></h2>

		{% for lead in teamPeople %}
		<span style="font-weight:800;">{{ lead.firstname | safe}} {{ lead.surname | safe}} ({{ lead.g6team }})<br /></span>
		<a href="mailto:{{ lead.email }}">{{ lead.email }}</a><br />
		<a href="/odd_people/update/{{ lead.id }}">Update</a> | <a href="/odd_people/delete/{{ lead.id }}">Remove</a> <br /><br />
		{% endfor %}

	{% endfor %}

	



</main>

{% endblock %}
