{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
	<div class="container">
	<div class="equalsplit2" style="padding-top:20px;width:50%; margin:0;"><p><span style="font-weight:800;">Project ID:</span> {{ data.project_id }}</p></div>
	<div class="equalsplit2" style="padding-top:20px; width:50%; margin:0; text-align:right;"><p>
	{% if user == 'portfolio' %}
	<a href="/portfolio-delete/{{ data.project_id }}">Delete this project</a> | 
	<a href="/portfolio-update/{{ data.project_id }}">Update this project</a>
	{% elif user == 'odd' or  user == 'team_leaders'%}
	<a href="/odd-update/{{ data.project_id }}">Update this project</a>
	{% endif%}
	</p></div>
	<div class="clear"></div>
	</div>

	<h1 class="heading-xlarge" style="margin-bottom:15px;">{{ data.project_name | safe }}
	{% if data.new_flag == 'Y' %}
	<span style="background-color:#007FB2; color:white; font-size:0.5em;padding 5px; border-radius:5px;">NEW</span>
	{% endif %}	
	</h1>
	<br />

	<div class="grid-row">
		<section class="column-two-thirds">
			
			{% if data.short_desc %}
			<div class="desc-para"><p>{{ data.short_desc | safe }}</p></div>
			<br />
			{% endif %}
			<strong>Priority:</strong> <div class="small-flag priority"><strong>{{ data.pgroup | capitalize }} ({{ data.priority_main }})</strong></div>&nbsp;&nbsp;&nbsp;
			<strong>Status:</strong> 
			
			{% set rag = data.rag %}
			
			{% if rag == 'gre' %}
			<div class="small-flag rag-green"><strong>Green</strong></div>
			
			{% elif rag == 'amb' %}
			<div class="small-flag rag-amber"><strong>Amber</strong></div>
			
			{% elif rag == 'red' %}
			<div class="small-flag rag-red"><strong>Red</strong></div>
			
			{% else %}
			<div class="small-flag rag-no"><strong>No RAG</strong></div>
			
			{% endif %}
			
			{% set onhold = data.onhold %}
			
			{% if onhold == 'y' %}
			<div class="small-flag onhold"><strong>On hold</strong></div>
			
			{% elif onhold == 'b' %}
			<div class="small-flag onhold"><strong>Blocked</strong></div>
			
			{% elif onhold == 'c' %}
			<div class="small-flag onhold"><strong>Covid-19 on hold</strong></div>
			
			{% endif %}
			
			
			{% if data.team %}
			<hr />
			<h2 class="heading-medium">Project team</h2>
			<p>{{ data.team }}</p>
			
			{% endif %}
			
			<hr />
			{% if upd_cnt > 0 %}
			<h2 class="heading-medium">Updates</h2>

			<ul id="myList">
			{% for i in range(0, upd_cnt) %}
			<li><p style="white-space: pre-wrap;"><span style="font-weight:700">{{ updates[i].date | safe }}</span> - {{ updates[i].update | safe }}</p></li>
			{% endfor %}
			</ul>
			
			<p><span id="loadMore" style="font-weight:800;">Load more</span> | <span id="showLess" style="font-weight:800;">Show less</span></p>
			
			{% else %}
			
			<h2 class="heading-medium"> No updates</h2>
			
			{% endif %}
			
			<hr />
			
			{% if docs %}
			<h2 class="heading-medium">Key documents</h2>
			
			<div class="container">
			<div class="equalsplit2"><a href="{{ docs[1] | safe }}">{{ docs[0] | safe }}</a></div>
			<div class="equalsplit2"><a href="{{ docs[3] | safe }}">{{ docs[2] | safe }}</a></div>
			<div class="clear"></div>
			</div>
			<br />
			<div class="container">
			<div class="equalsplit2"><a href="{{ docs[5] | safe }}">{{ docs[4] | safe }}</a></div>
			<div class="equalsplit2"><a href="{{ docs[7] | safe }}">{{ docs[6] | safe }}</a></div>
			<div class="clear"></div>
			</div>

			{% endif %}
			
			{% if deps_cnt > 0 %}
			
				<h2 class="heading-medium">Dependencies</h2>
				
				{% for i in range(0, deps_cnt) %}
				<a href="/projects/{{ deps[i].project_id }}">{{ deps[i].project_name }}</a><br /> 
				{% endfor %}

			{% endif %}
			
			{% if rels_cnt > 0 %}
			
				<h2 class="heading-medium">Related projects</h2>
				
				{% for i in range(0, rels_cnt) %}
				<a href="/projects/{{ rels[i].project_id }}">{{ rels[i].project_name }}</a><br />
				{% endfor %}

			{% endif %}
			
		</section>
		
		
		<section class="column-third">

			<div class="phase-circle">
				<p class="circle {{ data.phase | lower }}"></p>
				{% if data.phase_modifier %}<p class="phase_modifier">{{ data.phase_modifier }}</p>{% endif %}
				<p class="circle-label">{{ data.phase | title }}</p>
			</div>
			
			{% if data.direct and data.direct != 'NONE' %}
			<h3 class="heading-small">Directorate</h3>
			<p>
				  {% if data.direct == 'COMMS' %} 	Communications
				  {% elif data.direct == 'IR' %}	Incidents & Resilience
				  {% elif data.direct == 'FO' %}	Field Operations
				  {% elif data.direct == 'FP' %}	Finance & Performance
				  {% elif data.direct == 'FSP' %}	Food Safety Policy
				  {% elif data.direct == 'FSA' %}	FSA wide
				  {% elif data.direct == 'NFCU' %}	National Food Crime Unit
				  {% elif data.direct == 'NI' %}	Northern Ireland
				  {% elif data.direct == 'ODD' %}	Openness, Data & Digital
				  {% elif data.direct == 'PEOP' %}	People
				  {% elif data.direct == 'RC' %}	Regulatory Compliance
				  {% elif data.direct == 'SERD' %}	Science, Evidence & Research
				  {% elif data.direct == 'SLG' %}	Strategy, Legal & Governance
				  {% elif data.direct == 'WAL' %}	Wales
				{% endif %}
			</p>
			{% endif %}

			{% if data.oddlead %}
			<h3 class="heading-small">ODD lead</h3>

			<p>
			{{ data.oddlead | safe }}<br />
			<a href="mailto:{{ data.oddlead_email }}">{{ data.oddlead_email | safe}}</a>
			</p>
			
			{% if data.oddlead_role == 'sup' or data.oddlead_role == 'imp' or data.oddlead_role == 'man' %}
			<h3 class="heading-small">Lead's role </h3>
			<p>
			{% if data.oddlead_role == 'sup' %} Support
			{% elif data.oddlead_role == 'imp' %} Implementation
			{% elif data.oddlead_role == 'man' %} Management
			{% endif %}
			</p>
			{% endif %}
			
			{% else %}
				<p>{{ data.oddlead | default('Not set') }}</p>

			{% endif %}
			
			{% if data.servicelead %}
			<h3 class="heading-small">Delivery manager</h3>

			<p>
			{{ data.servicelead | safe }}<br />
			<a href="mailto:{{ data.servicelead_email }}">{{ data.servicelead_email | safe}}</a>
			</p>
			{% endif %}
			
			{% if dates[10] or dates[11] or dates[12] or dates[13] or dates [14] or comp %}
			<br /><h3 class="heading-small">Key dates</h3>
			<p>
			{% if dates[10] %}Intended start date:<br /> {{ dates[0] }} {{ dates[1] }} <br /><br />{% endif %}
			{% if dates[11] %}Date started:<br /> {{ dates[2] }} {{ dates[3] }} {{ dates[4] }}<br /><br />{% endif %}
			{% if dates[14] %}Phase completion date:<br /> {{ dates[15] }} {{ dates[16] }} {{ dates[17] }} <br /><br />{% endif %}
			{% if dates[12] %}Project completion date:<br /> {{ dates[5] }} {{ dates[6] }} <br /><br />{% endif %}
			{% if dates[13] %}Hard deadline:<br /> {{ dates[7] }} {{ dates[8] }} {{ dates[9] }}<br /><br />{% endif %}
			{% if comp %}Completed:<br /> {{ comp[2] }} {{ comp[1] }} {{ comp[3] }}<br /><br />{% endif %}
			</p>
			
			{% endif %}
			
			{% if data.p_comp > 0 %}
			<h3 class="heading-small">Percentage of whole project complete</h3>
			<p>
			{{ data.p_comp }}%
			</p>
			{% endif %}
					
			{% if data.project_size == 's' or data.project_size == 'm' or data.project_size == 'l'  or data.project_size == 'x' or link[1] %} <br /> {% endif %}
			
			{% if data.project_size == 's' or data.project_size == 'm' or data.project_size == 'l'  or data.project_size == 'x' %}
			<h3 class="heading-small">Project size </h3>
			<p>
			{% if data.project_size == 's' %} Small
			{% elif data.project_size == 'm' %} Medium
			{% elif data.project_size == 'l' %} Large
			{% elif data.project_size == 'x' %} Extra large
			{% endif %}
			</p>
			{% endif %}

			{% if link[1] %}
			<h3 class="heading-small">Project channel</h3>
			
				<a href="{{ link[1] }}" target="_blank" title="Project channel">
					<p>{{ link[0]}}</p>
				</a>
			{% endif %}
			
	
			{% if (data.budget) and (group != '4') %}
				
				<br /><h3 class="heading-small">Budget</h3>
				{% if data.budget == 0 %}	Not applicable	
				
				{% else %}
					<strong>Category:</strong> {{ budgettype }} <br />
					<strong>Allocated:</strong> {{ budget }} <br />
					{% if data.spent %}	<strong>Used:</strong> {{ spent }} {% endif %}
				{% endif %}
								
				
			{% endif %}
				
			
			

		</section>
	</div>
</main>

{% endblock %}
