{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
	<p style="margin-top:30px;">
	Order by: <a href="/"> theme</a>, <a href="/priority/"> priority</a>, <a href="/team/"> team</a>, <a href="/oddlead/"> ODD lead</a>, <a href="/rag/"> rag status</a> or <a href="/status/"> stage</a>. You can also <a href="/filter-view">filter projects</a>.</p>
	
	<hr />
	
	<h2 class="heading-medium" style="margin-bottom:10px;">Projects</h2><br />
	
	<p><a href="/portfolio-add">Add project</a></p>
	<p><a href="/filter-view">Filter projects</a></p>
	<p><a href="/new_projects">Recently added projects</a></p>
	<p><a href="/archived">Archived projects</a></p>
		
	<h2 class="heading-medium" style="margin-bottom:10px;">Data</h2><br />
	
	<p><a href="/download/csv">Extract as a CSV</a></p>
	
	<h2 class="heading-medium" style="margin-bottom:10px;">People</h2><br />
	
	<p><a href="/odd_people/view">View all ODD leads</a></p>
	<p><a href="/add-supplier">Add suppliers</a></p>
	

</main>

{% endblock %}
