{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge" style="margin-bottom:15px;">{{ title }}</h1><br />

	<div class="grid-row">
		<section class="column-full">

		<form action="/{{ post }}" method="POST" encType="multipart/form-data">
		<div class="container">
		<div class="equalsplit2"><p><input type="file" name="file" accept="*.csv" /></p></div>
		<div class="equalsplit2"></div>
		<div class="clear"></div>
		</div>
		
		<div class="container">
		<div class="equalsplit2"><input type="submit" value="Upload" /></div>
		<div class="equalsplit2"></div>
		<div class="clear"></div>
		</div>
		</form>

		</section>
	</div>
</main>

{% endblock %}
